<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Post.Title }}: r/{{ .Post.Subreddit }}</title>
  <meta name="description" content="A Simple Reddit Clone">
  <meta name="author" content="Azehor">

  <meta property="og:title" content="Not-So-Reddit">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="A Simple Reddit Clone">
  <meta property="og:image" content="image.png">
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script> <!-- NOTE: tailwindcss is included this way for ease of development -->
  <!--
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  -->
</head>

<body>
    <header class="border">
      {{ template "topbar.html" .Username}}
    </header>
    <div class="flex">
      <div id="left-sidebar" class="container h-screen w-1/5 sticky top-[56px] overflow-y-scroll overflow-x-hidden box-border border">
        <a class="flex justify-between bg-zinc-200 ring-0 rounded-[8px] py-2xs px-md hover:bg-zinc-300" href="/" style="padding-right: 16px"><button id="home-button">Home</button></a>
        {{ if .Username }}
          <div id="communities" hx-get="/users/{{ .Username }}/joined" hx-trigger="load"></div>
        {{ else }}
          <div id="communities" hx-get="/subreddits/popular" hx-trigger="load"></div>
        {{ end }}
      </div>

      <div id="post" class="contents justify-items-center">
        {{ with .Post }}
        <div class="container mx-auto m-4 hover:bg-zinc-100">
            <div class="flex flex-col">
              <div class="flex flex-row justify-start gap-3">
                  <div name="subreddit"><a href="/r/{{ .Subreddit }}">r/{{ .Subreddit }}</a></div>
                  <div name="timestamp">{{ .TimeStamp }}</div>
              </div>
              <div name="posted_by"><a href="/users/{{ .CreatedBy }}">by {{ .CreatedBy }}</a></div>
            </div>
            <div name="title"><h1>{{ .Title }}</h1></div>
            <div name="summary">{{ .Body }}</div>
            <div name="controls" class="flex flex-row justify-start gap-2">
                <button name="upvotes" class="bg-zinc-200 ring-0 rounded-full py-1 px-2 hover:bg-zinc-300">{{ .Upvotes }}</button>
                <button name="comments" class="bg-zinc-200 ring-0 rounded-full py-1 px-2 hover:bg-zinc-300">{{ .CommentAmmount }}</button>
                <button name="share" class="bg-zinc-200 ring-0 rounded-full py-1 px-2 hover:bg-zinc-300">Share</button>
            </div>
        </div>
        {{ end }}
        <div id="comment-section">
          <div>Loading ...</div>
          <button>Load More Posts</button>
        </div>
      </div>
      <div id="community-sidebar" hx-get="r/{{ .CurrentSubreddit }}/sidebar"></div>
      <!-- TODO: change sidebar for 'top posts' -->
    </div>
</body>
</html>


